<h1>My Account</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :email, style: "font-weight: bold;"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="field form-group">
    <% if resource.profile_picture.attached? %>
      <%= image_tag :profile_picture, alt: "User's profile picture", class: 'profile-picture-class' %>
      <%= "Edit Profile Picture:" %>
      <%= f.file_field :profile_picture %>
    <% else %>
      <%= image_tag 'default_profile_picture.png', alt: "Default profile picture", class: 'profile-picture-class' %>
      <%= "Add a Profile Picture:" %>
      <%= f.file_field :profile_picture %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :first_name, style: "font-weight: bold;"%><br />
    <%= f.text_field :first_name, autofocus: true, class:"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :last_name, style: "font-weight: bold;"%><br />
    <%= f.text_field :last_name, autofocus: true, class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <strong>Set a New Password</strong>
    <% if @minimum_password_length %>
      <br />
      <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>

  </div>

  <div class="field form-group">
    <strong>Confirm New Password</strong><br/>
    <small class="form-text text-muted">Passwords must match</small>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="field form-group">
    <strong>Current Password</strong> 
    <small class="form-text text-muted">Need your current password to confirm your changes</small>
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Update", class:"btn btn-secondary" %>
    
  </div>
<% end %>


<%= button_to "Delete my account", 
    registration_path(resource_name),
    method: :delete,
    class: "btn btn-outline-danger",
    data: { 
      confirm: "Are you sure?", 
      turbo_confirm: "Are you sure?" 
    }%>
