<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, style: "font-weight: bold;" %>
    <%= form.text_field :title, class:"form-control", placeholder:"SpaceX" %>
  </div>

  <div class="form-group">
    <%= form.label :url, style: "font-weight: bold;" %>
    <%= form.text_field :url, class:"form-control", placeholder:"https://spacex.com" %>
  </div class="form-group">

  <div class="form-group">
    <%= form.label :description, style: "font-weight: bold;" %>
    <%= form.text_area :description, class:"form-control", placeholder:"What's interesting about this link?" %>
  </div class="form-group">

  <div class="field form-group">
    <%= form.number_field :user_id, id: :link_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>

  <div>
    <%= form.submit class:"btn btn-outline-success btn-sm" %>
    <%= link_to "Cancel", link, class:"btn btn-outline-secondary btn-sm" %>
  </div>
<% end %>
