<div class="card">

  <div class="card-header">
    <%= link_to "Back to #{@link_group.title}", @link_group %>
  </div>

  <div class="card-body">
    <h1 class="card-title"><%= @link.title %></h1>
    <p><%= @link.description %></p>
    <%= link_to "Edit #{@link.title}", edit_link_group_link_path(@link_group, @link), class: "btn btn-outline-secondary btn-sm" %>

    <%= button_to "Delete #{@link.title}", 
          link_group_link_path(@link_group, @link), method: :delete, 
          class: "btn btn-outline-danger btn-sm",
          data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
          }%>
  </div>

</div>

