<div class="card">
  <div class="card-header">
   <%= link_to "Back to Links", links_path %>
  </div>
  <div class="card-body">
    <h1 class="card-title"><%= "#{@link.title}'s Website" %></h1>

    <strong>Title:</strong>
    <%= @link.title %>
    <br/>

    <strong>URL:</strong>
    <%= link_to "#{@link.url}", "#{@link.url}", target:"_blank" %>
    <br/>

    <strong>Description:</strong>
    <%= @link.description %>
    <br/>

    <br/>

    <%= link_to "Edit #{@link.title}'s Info", edit_link_path(@link), class:"btn btn-outline-secondary btn-sm" %>
    <%= button_to "Delete #{@link.title}", 
        @link, method: :delete, 
        class: "btn btn-outline-danger btn-sm",
        data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
        }%>
  </div>
</div>