<%= form_with(model: link_group) do |form| %>
  <% if link_group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link_group.errors.count, "error") %> prohibited this link_group from being saved:</h2>

      <ul>
        <% link_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, style:"display: block" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <%= form.hidden_field :emoji, id: "emoji-input" %>
  <div class="emoji-picker" data-controller="emoji-picker">
    <% emoji_options.each do |emoji| %>
      <span class="emoji" data-action="click->emoji-picker#selectEmoji" data-emoji-value="<%= emoji %>"><%= emoji %></span>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :description, style:"display: block" %>
    <%= form.text_area :description, class:"form-control" %>
  </div>

  <div>
    <%= form.submit class:"btn btn-success btn-sm" %>
    <%= link_to "Cancel", link_group, class:"btn btn-outline-secondary btn-sm" %>
  </div>

<% end %>
