<p style="color: green"><%= notice %></p>

<%= render @link_group %>

<div>
  <%= link_to "Edit this link group", edit_link_group_path(@link_group) %> |
  <%= link_to "Back to link groups", link_groups_path %>

  <%= button_to "Destroy this link group", @link_group, method: :delete %>
</div>
